<div class="padding" ng-controller="CommentsController">

  <super-navbar>
    <super-navbar-title>
       Comments
    </super-navbar-title>
  </super-navbar>

<body>
	<div class = "tag">
    <tags-input ng-model="tagsset">
    </tags-input>
    </div>
    <div class = "buttonsblock" ng-repeat = "(key,value) in tags" >
    <button style = "background-color:transparent;border:1px outset black;height:50px;" ng-click = "addTag(value.text)">{{value.text}}</button>
    </div>
    <button ng-click="submitComments()">Submit</button>
</body>


</div>