<div class="padding" ng-controller="GettingStartedController">

  <super-navbar>
    <super-navbar-title>
      Outfit for an Interview
    </super-navbar-title>
  </super-navbar>

<div class="list card">
  <div class="item item-image">
    <img src="/images/suitguy.jpg" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">
  </div>
</div>


<table style="width:100%;text-align:center;">
  <tr>
  	<td style="vertical-align:middle;color:#8B0000"> <b>Needs work</b></td>
  	<td><img src="/icons/swipe.svg" alt="Swipe" width="110" height="110" align="middle"></td>
  	<td style="vertical-align:middle;color:#228B22"><b>Good to go!</b></td>
  </tr>
</table>

</div>
