<div ng-controller="GettingStartedController">

  <super-navbar>
    <super-navbar-title>
      StyleMe
    </super-navbar-title>
  </super-navbar>

<div class="list card">
    <div class="item item-divider" style="text-align:center">
      {{currentTitle}}
    </div>

    <div class="item item-image">
      <img classs="full-image" ng-src="data:image/png;base64,{{currentImage}}" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">
    </div>
    
      <table style="width:100%;text-align:center;">
        <tr>
          <td style="vertical-align:middle;color:#8B0000" ng-click="swipeLeft()"> <b>Needs work</b></td>
          <td><img src="/icons/swipe.svg" alt="Swipe" width="110" height="110" align="middle"></td>
          <td style="vertical-align:middle;color:#228B22" ng-click="swipeRight()"><b>Good to go!</b></td>
        </tr>
      </table>

</div>




</div>
