<div ng-controller="GettingStartedController">
    
    <super-navbar>
        <super-navbar-title>
            StyleMe 
        </super-navbar-title>
    </super-navbar>

    <loading-view ng-hide="!isLoading" is-loading="isLoading">
        <div class="container">
            <button class="btn btn-lg btn-primary" style="position: absolute;top: 50%;left:25%"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
        </div>
    </loading-view>


    <div ng-show="noMoreImages">
        <button class="btn btn-default btn-lg btn-info" style="position: absolute;top: 50%;left:25%" ng-click="refreshFeed()"><span class="glyphicon glyphicon-refresh"></span> Refresh Feed</button>
    </div>

    <div class="list card" ng-hide="isLoading || noMoreImages">

        <div class="item item-divider" style="text-align:center">
            {{currentTitle}}
        </div>
        
        <div class="item item-image">
            <img class="full-image" ng-src="{{currentImg}}" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">
                </div>
        
        <table style="width:100%;text-align:center;" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">
            <tr>
                <td style="vertical-align:middle;color:#8B0000" ng-click="swipeLeft()"> <b>Needs work</b></td>
                <td><img src="/icons/swipe.svg" alt="Swipe" width="110" height="110" align="middle"></td>
                <td style="vertical-align:middle;color:#228B22" ng-click="swipeRight()"><b>Good to go!</b></td>
            </tr>
        </table>
    </div>

</div>
