<div class="padding" ng-controller="LearnMoreController">
  <super-navbar>
    <super-navbar-title ng-bind="navbarTitle"></super-navbar-title>
  </super-navbar>
  <div class = "inputForm">
  <label class = "item item-input">
  <input type="text" ng-model="username" placeholder = "Email">
</label>
  <label class = "item item-input">
  <input type="text" ng-model="Password" "Password" placeholder = "Password">
</label>
  <button class="button button-full button-positive" ng-click="createUser()">
      SignUp
  </button>
  <button class = "button button-full button-positive" ng-click = "login()">
    Login
  </button>
</div>
  <input>{{test}}</input>
</div>