<div class="padding" ng-controller="LearnMoreController">
    {{userid}}
  <!--<super-navbar>
    <super-navbar-title ng-bind="navbarTitle"></super-navbar-title>
  </super-navbar>

  <div class="list card">
    <div class="item item-divider" style="text-align:center">
      {{currentTitle}}
    </div>

    <!--<div class="item item-image">
      <img class="full-image" ng-src="data:image/png;base64,{{resultImage}}">
    </div>-->

 <!--Enter UserID:<input type="text" ng-model="userid"/>
    <button ng-click="fetchByID()">Submit</button>
    {{profile}}

</div>-->

</div>
