<div ng-controller= "LoginController">

	<form ng-show="scenario == 'Sign up'">
    <h2>Sign up</h2>
    Email: <input type="email" ng-model="user.email" /><br />
    Username: <input type="text" ng-model="user.username" /><br />
    Password: <input type="password" ng-model="user.password" /><br />
    <button ng-click="signUp(user)">Sign up</button> 
    <button ng-click=' scenario ="Log in"'>Log In</button> 
  </form>


      <div ng-show="currentUser">
    <h2>Welcome {{currentUser.get('username')}}</h2>
    <p>You have been successfully logged in</p>
    <button ng-click="logOut()">Log out</button>
  </div>
      <form ng-show="scenario == 'Log in'">
      <h2>Log in</h2>
      Username: <input type="text" ng-model="user.username" /><br />
      Password: <input type="password" ng-model="user.password" /><br />
      <button ng-click="logIn(user)">Log in</button>
      or <a href="#" ng-click='scenario="Sign up"'>Sign up</a>
    </form>
  </div>
	<!-- <div class = "inputForm">
	<label class = "item item-input">
	<input type="text" ng-model="username" placeholder = "Email">
</label>
	<label class = "item item-input">
	<input type="text" ng-model="password" placeholder = "Password">
</label>
	<button class="button button-full button-positive" ng-click="createUser()">
      SignUp
  </button>
  <button class = "button button-full button-positive" ng-click = "login()">
  	Login
  </button>
  <input>{{test}}</input>
 </div> -->
</div>
