<div class="padding" ng-controller="SettingsController">

  <super-navbar>
    <super-navbar-title>
      Upload a Picture
    </super-navbar-title>
  </super-navbar>



    <!-- <div class="list">
      <label class="item" style="text-align:center">
        <b>Enter a unique username</b><br>
        You will use this username to retrieve<br>
        your feedback later!</label>
      <label class="item item-input">
        <input type="text" placeholder="Type your username here" ng-model="userid">
      </label>
     </label>
    </div> -->

    <div class="list">
    	<label class="item" style="text-align:center">
        <b>What type of feedback do you want?</b><br>
        E.g. Is this appropriate for an interview? <br>
        Does this shirt go with my pants?</label>
      <label class="item item-input">
  	    <input type="text" placeholder="Type your question here" ng-model="question">
      </label>
  	 </label>
    </div>


  <button class="button button-full button-positive" ng-click="openCamera()">
      Take Picture
  </button>

  <div class="item item-image">
    <img alt="You haven't taken a picture yet!" src="data:image/png;base64,{{ base64 }}" />
  </div>


  <button class="button button-full button-assertive" ng-click="submitPicture()">Submit</button>


  	

	
</div>